<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Collision, Create and Destroy objects
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    <%= scripts.imports( 'scripts.main' ) %>
    <%= scripts.imports( 'scripts.examples.bubbles' ) %>
body
div
  h1  This is a demo of how to use canvas box 
  p
    | This example focus into how to create, change and destroy many
    | objects without big coding work. It shows too, how to manipulate
    | the canvas box to override native events.
  p
    canvas#myCanvas
  div#log

